.App {
  text-align: center;
  max-width: 1200px;
  max-height: 100vh;
  margin: 50px auto;
  display: flex;
}

@media screen and (max-width: 992px) {
  .App {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5px;
  }
}
